*, *::before, *::after {
    box-sizing: border-box;
}

body {
    margin: 0 auto;
    font-family: "Open Sans";
}

h1, h2, h3, h4, h5, h6, p {
    margin: 0;
}

ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
}
.clear::after {
    content: '';
    display: block;
    clear: both;
}
.container {
    width: 1010px;
    margin: 0 auto;
    padding: 0 15px;
}
.table {
    display: table;
    width: 100%;
}
.tCell {
    display: table-cell;
}
.invisLink {
    position: relative;
    z-index: 1;
}
.invisLink a {
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 7;
    overflow: hidden;
    text-indent: 200%;
    white-space: nowrap;
}
a, button {
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -ms-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
}




/*ГЛАВНАЯ*/
header .login {
    font-size: 13px;
    line-height: 18px;
    color: #0069b4;
}
header .login:hover {
    text-decoration-color: transparent;
}
header .left, header .logo, header .right {
    width: 33.3333%;
    vertical-align: top;
}
header .logo {
    text-align: center;
}
header .right {
    text-align: right;
}
header .menu {

}

header .menu li {
    display: inline-block;
    margin-right: 18px;
}

header .menu li a {
    font-size: 13px;
    line-height: 18px;
    color: #333333;
}
header .menu li a:hover {
    text-decoration-color: transparent;
}
.logo {

}
header .phone {
    font-size: 20px;
    line-height: 20px;
    color: #333333;
    text-decoration: none;
}
header .phone:hover {
    opacity: 0.7;
}

header .callback {
    font-size: 12px;
    line-height: 16px;
    text-decoration: none;
    color: #0069b4;
    border-bottom: 1px dashed #0069b4;
    display: table;
    margin-left: auto;
}

header .timing {
    font-size: 13px;
    line-height: 19px;
    color: #999999;
}

header .basket {
    font-size: 13px;
    line-height: 22px;
    color: #333333;
    text-decoration: none;
    display: inline-block;
    padding-left: 28px;
    background-repeat: no-repeat;
    background-position: left center;
}

header .basket span {
    color: #1a9547;
}

header [class*='icon'] {
    color: #caebd4;
}

header .login [class*="icon"] {
    font-size: 18px;
}

header .phone [class*="icon"] {
    font-size: 20px;
}
.banner {
    display: flex;
    justify-content: space-between;
}
.banner .sale {
    width: 305px;
    height: 360px;
}

.banner .slider {
    width: 640px;
    height: 360px;
}

.banner > div {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
.advantages {
    width: calc(100% - 320px);
    float: left;
}
.advantages .item {
    width: 25%;
    float: left;
}
.advantages .item span {
    font-size: 14px;
    font-weight: bold;
    line-height: 17px;
    color: #333333;
    display: block;
}

.advantages .item p {
    font-size: 12px;
    line-height: 14px;
    color: #666666;
}
.subscribe {
    width: 320px;
    float: left;
    padding: 20px;
    background-color: #64ba4a;
}
.subscribe label {
    font-size: 16px;
    color: #ffffff;
}

.subscribe input {
    font-size: 13px;
    line-height: 37px;
    color: #999999;
    width: 100%;
    margin-top: 15px;
    padding-left: 12px;
    border: none;
}

.subscribe button {
    font-size: 13px;
    line-height: 37px;
    width: 188px;
    text-align: center;
    color: #ffffff;
    display: table-cell;
    vertical-align: middle;
    background-color: #259c47;
    border: none;
}
.subscribe .wrap {
    display: table;
    width: 100%;
    margin-top: 10px;
}
.subscribe .wrap span {
    font-size: 12px;
    padding-left: 20px;
    color: rgba(255, 255, 255, 0.5);
    display: table-cell;
    vertical-align: middle;

}

.filter li {
    font-size: 13px;
    line-height: 16px;
    border-bottom: 1px dashed #666666;
    display: inline-block;
}
.filter li+li {
    margin-left: 18px;
}
.filter li a {
    text-decoration: none;
    color: #666666;
}
.card {
    position: relative;
}
.status {
    position: absolute;
    display: block;
    top: -3px;
    left: -3px;
    width: 43px;
    font-size: 13px;
    line-height: 20px;
    text-align: center;
}
.status.hit {
    background-color: #6eddcc;
}
.status.discount {
    background-color: #ffed03;
}
.status.new {
    background-color: #78ec71;
}
.cards {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 30px;
}
.card {
    position: relative;
    border-bottom: 1px solid #e4e4e4;
}
.card .img {
    width: 100%;
    height: 220px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.card .title {
    font-size: 15px;
    line-height: 22px;
    color: #333333;
    display: block;
}

.card a {
    font-size: 15px;
    line-height: 22px;
    color: #0069b4;
}

.card .price {
    font-size: 20px;
    font-weight: 600;
    line-height: 30px;
    color: #333333;
}

.card .price .old {
    font-size: 14px;
    font-weight: normal;
    line-height: 16px;
    text-decoration: line-through;
    color: #666666;
}
.card button {
    font-size: 14px;
    line-height: 32px;
    text-align: center;
    color: #ffffff;
    float: right;
    border: none;
}
.card .content {
    min-height: 110px;
    position: relative;
}
.card .buy {
    position: absolute;
    width: 100%;
    left: 0px;
    bottom: 10px;
}
.widgets .wrap {
    display: flex;
    justify-content: space-between;
}
.widgets h1 {
    font-size: 18px;
    font-weight: 600;
    line-height: 22px;
    text-align: center;
    color: #666666;
}

.widgets .item:first-child {
    width: 290px;
    height: 400px;
}

.widgets .item:last-child {
    width: 290px;
    height: 400px;
}

.widgets .item:nth-child(2) {
    width: 350px;
    height: 400px;
}

.widgets .item {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
.info .title {
    position: relative;
    padding-left: 25px;
}
.info .title::before {
    content: '';
    display: block;
    width: 0px;
    height: 0px;
    border-top: 5px solid #333333;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    position: absolute;
    top: 5px;
    left: 0;
}
.info .title.active::before {
    transform: rotate(180deg);
}




.tabs li a {
    font-size: 14px;
    text-decoration: none;
    line-height: 45px;
    color: #999999;
}

.tabContent .title {
    text-transform: uppercase;
}

.tabContent p {
    font-size: 12px;
    line-height: 18px;
    color: #333333;
}

footer {
    font-size: 13px;
    line-height: 22px;
    color: #ffffff;
    background-color: #64ba4a;
}

footer a {
    text-decoration: none;
    color: #ffffff;
}

footer [class*="icon"] {
    font-size: 21px;
}
.footMenu {
    width: 50%;
    float: left;
}
.footMenu .col {
    width: 50%;
    float: left;
}
.footCont {
    width: 25%;
    float: left;
}
.copyright {
    width: 25%;
    float: left;
}

/*КОРПОРАТИВНЫМ КЛИЕНТАМ*/
.wrapper .left p {
    font-size: 13px;
    line-height: 22px;
    color: #333333;
}

.wrapper .left .orgInfo {
    font-size: 13px;
    line-height: 22px;
    color: #666666;
    font-style: italic;
}

.radioTitle span:first-child {
    font-size: 13px;
    color: #666666;
}

.radioTitle span:last-child {
    font-size: 11px;
    color: #666666;
}

form ul li label {
    font-style: normal;
    font-size: 13px;
    line-height: 22px;
    color: #666666;
}

.attachLogo label {
    font-size: 13px;
    line-height: 22px;
    color: #229647;
    text-decoration: underline;
}

.attachLogo span {
    font-size: 11px;
    color: #999999;
}

.quantityDate label {
    font-size: 13px;
    line-height: 22px;
    color: #666666;
    font-style: italic;
}

.area label {
    font-size: 13px;
    line-height: 22px;
    color: #666666;
    font-style: italic;
}

.left button {
    font-size: 14px;
    line-height: 22px;
    color: #ffffff;
}

.right span {
    font-size: 25px;
    line-height: 22px;
    color: #333333;
}

.right p {
    font-size: 13px;
    line-height: 22px;
    color: #333333;
}

.right button {
    font-size: 14px;
    line-height: 22px;
    color: #ffffff;
}

/*ОФОРМЛЕНИЕ ЗАКАЗА*/
h1 {
    font-size: 25px;
    line-height: 22px;
    color: #333333;
}

h2 {
    font-size: 15px;
    line-height: 22px;
    color: #333333;
}

.cityChoose label, fieldset label {
    font-size: 13px;
    line-height: 22px;
    color: #666666;
    font-style: italic;
}

fieldset label {
    font-size: 13px;
    line-height: 19px;
    color: #333333;
}

fieldset p {
    font-size: 12px;
    line-height: 19px;
    color: #666666;
}

.red {
    color: red;
}

button {
    font-size: 14px;
    line-height: 22px;
    color: #ffffff;
}
.orderList li {
    padding-left: 40px;
}
.orderList label {
    position: relative;
    padding-left: 40px;
    margin-left: -40px;
}
.radioBtn {
    display: none;
}
.radioBtn:not(checked) + label::before {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 22px;
    height: 22px;
    border: 2px solid #d4d4d4;
    border-radius: 50%;
    transition: all 0.3s;
}
.radioBtn:not(checked) + label::after {
    content: '';
    display: block;
    position: absolute;
    top: 7px;
    left: 7px;
    width: 8px;
    height: 8px;
    background-color: #51bf87;
    border-radius: 50%;
    opacity: 0;
   transition: all 0.3s;
}
.radioBtn:checked + label::before {
    border-color: #51bf87;
}
.radioBtn:checked + label::after {
    opacity: 1;
}





/*НОВОСТИ ПОДРОБНО*/
.breadcrumps li a, .breadcrumps li {
    font-size: 12px;
    line-height: 22px;
    color: #999999;
    text-decoration: none;
}

.firstCap {
    font-size: 25px;
    line-height: 22px;
    color: #333333;
    font-weight: 600;
}

.secCap {
    font-size: 18px;
    line-height: 22px;
    color: #333333;
    font-weight: 600;
}

.newsDate {
    font-size: 12px;
    line-height: 22px;
    color: #aaaaaa;
}

.newsTxt {
    font-size: 13px;
    line-height: 19px;
    color: #333333;
}

.moreNews {
    font-size: 13px;
    line-height: 22px;
    color: #0069b4;
}